################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Newbankapp/obj/Debug
/Newbankapp/bin/Debug
